@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(255 255 255);
  --orange: #ff7d4a;
  --purple: #997aff;
  --cyan: #3effde;
  --yellow: #ffee4d;
  --blue: #93c5fd;

  --card-color: var(--blue);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.6rem;
}

h3 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.5rem;
}

h4 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:active {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  font-weight: 350;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgb(250 250 250);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

#home-link {
  font-weight: 700;
}

#page-links > a {
  padding-left: 8px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(20 20 20 / 0.7);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    transition: all 0.3s ease;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 60px;
    gap: 0;
    border-radius: 5px;
    width: 60%;
    transition: 0.3s;
    text-align: center;
    background-color: rgb(60 60 200 / 0.9);
    color: white;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 10px;
  }
}

#admin-links > * {
  justify-content: center;
  align-items: center;
  gap: 2;
}

#phone-number {
  font-weight: 600;
  font-size: 1.75rem;
}

main {
  margin: auto 1rem;
  padding: 0 1rem;
  margin-top: 1rem;
  text-align: center;
}

article {
  max-width: 768px;
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  height: 3em;
  background-color: rgb(250 250 250);
  box-shadow: inset 0 4px 4px -4px rgb(0 0 0 / 0.3);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#store-info {
  color: blue;
  font-size: 22px;
  line-height: 2em;
}

#store-hours {
  margin: 1rem auto;
  line-height: 1.2em;
}

.category-container {
  background-color: rgb(25 25 25 / 0.2);
  margin: 42px 0;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 5px 5px -5px black;
}

.category-heading {
  margin: 2rem;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

.category-description {
  margin: 16px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  visibility: visible;
  font-size: 24px;
  margin-right: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.back-to-menu-link {
  visibility: hidden;
}

@media screen and (min-width: 420px) {
  .back-button-container {
    display: none;
  }

  .back-to-menu-link {
    visibility: visible;
  }
  .back-button {
    visibility: hidden;
  }
}

.menu-item {
  padding: 0.5rem;
  margin: 16px 0;
  background-color: var(--card-color);
  justify-content: center;

  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.5);
  border-radius: 0.375rem;
}

.show-more-button-container {
  display: flex;
  justify-content: center;
}

.show-more-button {
  position: relative;
  font-size: 30px;
  margin: 0;
  transition: transform 0.5s 0s ease;
}

.show-more-button.true {
  transform: rotateX(180deg);
}

.additional-fields {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.additional-fields-heading {
  font-weight: 300;
  text-decoration-line: underline;
  margin: 16px auto;
}

.description-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-bottom: 16px;
}

.descriptions {
  margin: 10px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#options {
  font-weight: 500;
  font-size: 18px;
}

form {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  background-color: var(--card-color);
  border-radius: 10px;
}

.form-inputs {
  margin: 2rem auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: clamp(270px, 50vw, 400px);
}

form input {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--bg-color);
  color: rgb(30 30 30);
  box-shadow: 0 2.5px 5px rgb(20 20 20 / 0.5);
}

form button {
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(0 220 50);
  box-shadow: 0 2.5px 5px rgb(20 20 20 / 0.5);
  /* border: 1px solid black; */
  color: rgb(20 20 20);
  width: 100vw;
}

#admin-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  padding: 8px;
  color: red;
  font-weight: bold;
}

#admin-id[data-logged-out] {
  display: none;
}

#page-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-loading-image {
  width: 64px;
  height: 64px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
