@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, "Source Sans Pro", -apple-system, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

h1 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.6rem;
}

h3 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.5rem;
}

h4 {
  font-family: "Source Sans Pro", BlinkMacSystemFont;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:active {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  font-weight: 350;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgb(250 250 250);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

#home-link {
  font-weight: 700;
}

main {
  margin: auto 1rem;
  padding: 0 1rem;
  margin-top: 1rem;
  text-align: center;
}

article {
  max-width: 768px;
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  height: 2.5em;
  background-color: rgb(250 250 250);
  box-shadow: inset 0 4px 4px -4px rgb(0 0 0 / 0.3);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#store-info {
  color: blue;
  font-size: 22px;
  line-height: 2em;
}

#store-hours {
  margin: 1rem auto;
  line-height: 1.2em;
}

.category-heading {
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

.category-description {
  margin: 16px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more-button-container {
  display: flex;
  justify-content: center;
}

.show-more-button {
  position: absolute;
  font-size: 30px;
  bottom: -40px;
  padding: 10px 40px;
  opacity: 0.5;
}

.back-button {
  visibility: visible;
  font-size: 24px;
  margin-right: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.back-to-menu-link {
  visibility: hidden;
}

@media screen and (min-width: 420px) {
  .back-button-container {
    display: none;
  }

  .back-to-menu-link {
    visibility: visible;
  }
  .back-button {
    visibility: hidden;
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
  margin: 0 auto 60px auto;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.5);

  @apply max-w-screen-lg rounded-md bg-blue-300 p-2;
}

.menu-item::before {
  content: "";
  position: absolute;
  box-shadow: inset 10px 10px 10px -10px black;
  background-color: inherit;
  display: block;
  height: 150px;
  width: 150px;
  bottom: -150px;
  transform: rotate(90deg);
  clip-path: polygon(20% 50%, 0% 100%, 0% 0%);
}

.additional-fields {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 16px auto;
  padding-bottom: 16px;
}

.additional-fields-heading {
  font-weight: 300;
  text-decoration-line: underline;
  margin: 16px auto;
}

#options {
  font-weight: 500;
  font-size: 18px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
