@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.back-button {
  visibility: visible;
  font-size: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.back-to-menu-link {
  visibility: hidden;
}

@media screen and (min-width: 420px) {
  .back-button-container {
    display: none;
  }

  .back-to-menu-link {
    visibility: visible;
  }
  .back-button {
    visibility: hidden;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
